*{
    margin: 0px;
    padding: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    /* padding: 25px; */
    /* padding-top: 0px; */
    background: black;
    color: aliceblue;
    height: 10.5vh;
}
ul{
    float: right;
    background: black;
    
}
li{
    list-style: none;
    float: left;
    padding: 20px;
}
/* nav{
    color: white;
    /* background: black; */

li:hover{
background: rgb(111, 109, 230);
color: whitesmoke;
transition: 0.4s ease-in-out;
}
.front{
    list-style: none;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 19px;
}
.for{
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    width: 70%;
    height: 70%
}
#x{
    float: left;
}