*{
    margin: 0px;
    padding: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background: #e84118;
}
nav{
    /* padding: 25px; */
    /* padding-top: 0px; */
    background: black;
    color: aliceblue;
    height: 10.5vh;
}
.Head{
    float: right;
    background: black;
    
}
li{
    list-style: none;
    float: left;
    padding: 20px;
}
/* nav{
    color: white;
    /* background: black; */

li:hover{
background: rgb(111, 109, 230);
color: whitesmoke;
transition: 0.4s ease-in-out;
}
.front{
    list-style: none;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 19px;
    
}
.for{
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     
}
img{
    width: 70%;
    height: 70%
}
#x{
    float: left;
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding:10px;

}
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    /* line-height: 2; */
    justify-content: center;
    align-items: center;
    outline: none;

}
.search-text{
    background: #2f3640;
    border: none;
    color: white;
    line-height: 2.8;
    align-items: center;
    justify-content: center;
    width: 0px;
    transition: 0.4s;
    outline: none;
    
}
.search-box:hover > .search-text{
    width: 240px;
    padding: 0 6px;

}
.search-box:hover > .search-btn{
    background: white;
}
.share
{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.share-btn{
    width: 280px;
    height: 80px;
    background: #dfe6e9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
    
    cursor: pointer;
    transition: .3s linear;
}
.share-btn:hover{
    transform: scale(1.2);
}
.share-btn span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    color: wheat;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: .6s linear;
    border-radius: 40px;
}
.share-btn:hover span{
    transform: translateX(-100%)
}
.share-btn a{
    flex: 1;
    font-size: 25px;
    color: black;
    text-align: center;
    /* transform: translateX(-100%); */
}